.add-session-div{
    position: absolute;
    top:8%;
    left: 2%;
    background-color: #121213;
    color: #eef4f7;
    color: aliceblue;
    border: 1px solid #6e6e75;
    border-radius: 1rem;
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}
.add-session-div span{
   
    padding: 1rem;
}
.add-session-div button{
    background-color: transparent;
    border: none;
    align-self: baseline;
    margin-left: 1.3rem;
    font-size: 1rem;
    padding: .5rem;
    color: white;
}
.add-session-icon{
    font-size: 1.5rem;
    margin-right: 5px;
    align-self: flex-end;
    color: white;
}