.card-container{
    border: 1px solid #6e6e75;
    border-right: none;
    border-left: none;
    display: flex;
    padding: .4rem;
    align-items: center;
}
.card-container:hover{
    cursor: pointer;
    background-color: #444449;
}
.card-selected{
    background-color: #878791;
    border: 1px solid #6e6e75;
    border-right: none;
    border-left: none;
    display: flex;
    padding: .4rem;
    align-items: center;
}
.card-selected:hover{
    cursor: pointer;
}
.img-container{
    width: 15%;
    height: 15%;
    min-width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .8rem;
}
.img-container img{
    width: 100%;
}
.infocard-container{
    display: flex;
    flex-direction: column;
}