.sidebar-container {
    height: 100%;
    width: 40%;
    border: 1px solid #6e6e75;
    overflow-y: auto;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
}

.filter-buttons button {
    padding: .6rem;
    margin-right: .4rem;
    width: 100%;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: #6e6e75 1px solid;
    border-radius: .7rem;
}

.side-bar-log-out-group-button {
    padding: 1rem;
}

.group-diplay {
    display: flex;
    flex-direction: column;
}

.group-diplay span {
    font-size: 1rem;
    border-radius: 1rem;
}

.group-diplay span:hover {
    cursor: pointer;
    color: #888892;
}

.groupSelectorContainer {
    display: flex;
    padding: .6rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #6e6e75;
}

.groupSelectorContainer:hover {
    background-color: #444449;
}

.groupSelectorContainerSelected {
    display: flex;
    padding: .6rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #878791;
    border: 1px solid #6e6e75;
}

.groupSelectorContainer span {
    border-right: none;
    border-left: none;
}

.groupButtons {
    display: flex;
    max-width: 20%;
    padding: none;
}

.groupButtons button {
    padding: 0px;
    border: none;
}

.groupButtons svg {
    font-size: .6rem;
}

@media (min-width: 768px) {
    .sidebar-container {
        padding: 0px;
    }

    .filter-buttons {
        padding: 0px;
    }

    .group-diplay {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
    }

    .sidebar-container {
        max-width: 30%;
    }

    ;

    .filter-buttons button {
        padding: .6rem;
        margin-right: .4rem;
        width: 100%;
        font-size: 1.2rem;
        background-color: transparent;
        color: white;
        border: #6e6e75 1px solid;
        border-radius: .7rem;
    }

    .groupSelectorContainer {
        width: 100%;
        border: 1px solid #6e6e75;
    }

    .groupSelectorContainer button {
        padding: 0px;
    }

    .groupSelectorContainerSelected {
        width: 100%;
        border: 1px solid #6e6e75;
    }

    .groupSelectorContainerSelected button {
        padding: 0px;
    }

    .side-bar-log-out-user-info {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .group-diplay span {
        padding: 1px;
        font-size: 1rem;
        width: 100%;
    }

    .side-bar-log-out-group-button {
        padding: 1rem;
    }

    .groupButtons {
        width: 20%;
        padding: 0px;
    }

    .groupButtons button {
        border: none;
    }

    .groupButtons svg {
        font-size: .9rem;
    }
}