<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>
    <body> 
        <div class="menuContainer">
            <h3>Password Saver</h3>
            <div class="info">
                <button id="previous"><-</button><button id="next">-></button><br>
                <input id="titleField">
                <input id="userEMailField">
                <input id="urlField">
                <input id="passwordField">
                <button id="delButton">Delete</button>
                <button id="saveButton">Save</button>
            </div>
            <button id="logOutButton" type="button">LogOut</button>
        </div>
        <div class="loginContainer">
            <form>
                <label for="username">User</label>
                <input type="text" id="username">
                <label for="password">Password</label>
                <input type="password" id="password">
                <button id="loginButton" type="button">Submit</button>
            </form>
        </div>
    </body>
    <script type="module" src="../scripts/popUp.js"></script>
</html>