.add-menu-div{
    position: absolute;
    top:8%;
    left: 50%;
    background-color: #121213;
    color: #eef4f7;
    color: aliceblue;
    border: 1px solid #6e6e75;
    border-radius: 1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
}
.option-add-menu{
    width: 100%;
    min-height: 15%;
    max-height: 15%;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.add-menu-div button{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: .5rem;
    color: white;
}
.add-menu-icon{
    font-size: 1.5rem;
    margin-right: 5px;
}
@media (min-width: 768px){
    .add-menu-div{
        left: 73%;
        width: 25%;
    }
}