*{
    
}
.login-container{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 2vh;
}
.login-title{
    text-align: center;
}
.login-form{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.login-input{
    padding: 2vh;
    border-radius: 0.4vh;
    width: 70%;
}
.buttons-login-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.login-button{
    padding: 1.4vh;
    width: 45%;
    font-size: 2.4vh;
    box-shadow: 
         0 0 3px rgba(255, 255, 255, 0.233),
         0 0 5px rgba(255, 247, 247, 0.144);;
     color: #121213;
     border-radius: 10px;
     border: none;
}
@media (min-width: 768px){
    .login-input{
        width: 60%;
    }
    .buttons-login-container{
        width: 55%;
    }
}

@media (min-width: 1200px){
    .login-input{
        width: 45%;
    }
    .buttons-login-container{
        width: 30%;
    }
}