.create-container{
    width: 100%;
    height: 90%;
}
.create-acount-container{
    width: 100%;
    height: 95%;
}
.create-top-buttons{
    display: flex;
    align-self: baseline;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
    height: 20%;
}
.create-top-buttons button{
    background-color: transparent;
    border: 1px solid #6e6e75;
    border-radius: 1.5rem;
    margin-left: 1rem;
    width: 15%;
    padding: .5rem;
    color: white;
    font-size: 1.2rem;
}
.create-icon{
    font-size: 1.5rem;
    border: none;
}
.input-container-create{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-field-create{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    border: 1px solid #6e6e75;
    background-color: transparent;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    padding: 2rem
}
.input-field-create:focus{
    outline: none;
    box-shadow: none;
    background: transparent;
    color: inherit;
}

.input-credentials-create{
    border: #6e6e75 1px solid;
    width: 90%;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
}
.input-credential-field input{
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1rem;
    color: white;
    background-color: transparent;
    border: none;
}
.input-credential-field input:focus{
    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;
    color: inherit;
}
.credential-form-create{    
    width: 100%;
}
.create-select{
}
