.create-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    backdrop-filter: brightness(90%) blur(2px);
}

.create-top-buttons {
    display: flex;
    width: 40%;
    align-self: flex-end;
}

.create-top-buttons button {
    background-color: transparent;
    border: 1px solid #6e6e75;
    border-radius: 1rem;
    width: 100%;
    padding: .5rem;
    color: white;
    font-size: 1.2rem;
}

.create-icon {
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}