@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #121213;
  color: #eef4f7;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}