.navbar-container{
    width: 100%;
    height: 8%;
    padding: 0.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hamburger-button{
    color:white;
    font-size: 2rem;
}
.navbar-search-bar{
    padding: .4rem;
    border: none;
    border-radius: .4rem;
    width: 100%;
}
.add-password{
    color:white;
    font-size: 2rem;
}
.add-menu-container{
    width: 100%;
    height: 100%;
    
}
.nav-bar-session{
    display: none;
}
@media (min-width: 768px){
    .hamburger-button{
        display: none;
    }
    .nav-bar-session{
        display: flex;
    }
    .nav-bar-session button{
        background-color: transparent;
        border: none;
        font-size: 1rem;
        padding: .5rem;
        color: white;
    }
}

.navbar-icon {
    height: 40px;
    width: 40px;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.466)) drop-shadow(0 0 5px rgba(255, 247, 247, 0.397));
}